* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

img {
    max-width: 100%;
}

h1 {
    margin: 2rem 0;
    text-align: center;
    font-size: 3rem;
}

article {
    display: flex;
    justify-content: space-evenly;
}

.ball-1 {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: linear-gradient(45deg, red, orange);
}

.ball-2 {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: linear-gradient(45deg, yellowgreen, green);
}

.ball-3 {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: linear-gradient(45deg, purple, rgb(220, 144, 220));
}

.ball-4 {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: linear-gradient(45deg, blue, rgb(158, 235, 237));
}